<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <a href="/auth/google" class="btn btn-primary">
                <i class="fab fa-google"></i> Sign in with Google
            </a>
        </div>
    </div>
</div>

