<div class="container"  id="main-content-container">
    <div class="row justified-content-center content-box" id="content-box-1">
        <div class="col" id="content-1">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect1">Options</label>
                </div>
                <select class="custom-select" id="inputGroupSelect1">
                    <option selected>Content Type...</option>
                    <option value="subtitle">Sub Title</option>
                    <option value="paragraph">Paragraph</option>
                    <option value="image">Image</option>
                    <option value="video">Video</option>
                    <option value="formula">Formula</option>
                    <option value="code">Code Snippet</option>
                    <option value="quote">Quotation</option>
                </select>
            </div>
            <div class="input-group" id="content-body-1">
                
            </div>
        </div>
    </div>

    <button class="btn-secondary rounded-circle border border-dark add-btn" type="button">
        <i class="fas fa-plus"></i>
    </button>
</div>

